* {
  margin: 0;
  padding: 0;
}
body {
  height: 80vh;
  background: cadetblue;
}
#login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 45vh;
  margin-top: 7%;
  margin-left: 39%;
  border-radius: 20px;
  border-radius: 10px;
  background: #292828;
  box-shadow: inset 20px 20px 60px #181717, inset -20px -20px 60px #070707;
}
h2.some-text {
  position: absolute;
  top: 60px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: rgb(11, 166, 228);
}
.fa-user {
  position: absolute;
  font-size: 25px;
  color: rgb(11, 166, 228);
  top: 120px;
  left: 20px;
}
.email {
  position: absolute;
  height: 30px;
  width: 220px;
  top: 120px;
  left: 50px;
  border: 1px solid rgb(79, 113, 114);
}
input::placeholder {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: rgb(11, 166, 228);
  background-color: #070707;
  filter: brightness(150%);
}
.fa-lock {
  position: absolute;
  font-size: 25px;
  color: rgb(11, 166, 228);
  top: 170px;
  left: 20px;
}
.password {
  position: absolute;
  width: 220px;
  left: 50px;
  height: 30px;
  top: 170px;
  border: 1px solid rgb(79, 113, 114);
}
.forgot-password {
  position: absolute;
  top: 210px;
  text-decoration: underline;
}
.btn-primary {
  position: absolute;
  top: 250px;
  font-size: 18px;
  font-weight: 600;
}
p.helping-text-here {
  position: absolute;
  top: 300px;
  color: #fff;
}
span {
  text-decoration: underline rgb(11, 166, 228);
}
.heading:hover {
  color: rgb(243, 10, 212);
}
.some-text:hover {
  color: rgb(243, 10, 212);
}
i:hover {
  color: rgb(243, 10, 212);
}
